<div class="container">
    <div class="row mt-5">
        <div class="col-md-descripcion mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo"><strong>Nombre del proyecto: </strong></label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                </div>
                <br/>
                
                <div class="form-group">
                    <label for="imagen"><strong>Seleccione una imagen para representar el proyecto...</strong></label>
                    <br/>
                    <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
                </div>
                <br/>

                
                <div class="form-group">
                    <label for="descripcion" ><strong>Breve descripción de lo realizado:</strong></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                    [(ngModel)]="descripcion" required>
                </div>
                <br/>
                
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" (click)="upload()">
                    <i class="fas fa-plus-circle"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/portfolio">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>