/** @format */

@import "tailwindcss";
body {
    font-family: "Josefin Sans", sans-serif;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.animate-slide-in {
    animation: slide-in 0.2s ease;
}

.animate-slide-out {
    animation: slide-out 0.2s ease;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}