<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpload()" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titulo">Nombre del título obtenido: </label>
                    <input type="text" class="form-control" id="titulo"  name="titulo" [(ngModel)]="titulo" >
                </div>
                <br />

                <div class="form-group">
                    <label for="imagen"><strong>Seleccione la nueva imagen de la institución...</strong></label>
                    <br />
                    <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
                </div>
                <br />


                <div class="form-group">
                    <label for="descripcion"><strong>Breve descripción de lo aprendido:</strong></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="descripcion" >
                </div>
                <br />
                <div class="botones mt-3">
                    <button class="btn btn-outline-success btn-block" (click)="upload()">
                        <i class="fas fa-pencil-alt"></i> Actualizar</button>
                    <button class="btn btn-outline-primary btn-block mx-5" (click)=goBack()>
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>